<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Wecome to Home page</h1>

    <!-- button to route to sign up page -->
    <!-- <input type="button" value="Submit"/> -->
    For Registration Click here 
    <a href="/signup">Sign Up</a>
    <br><br>
    If already registered Click here    
    <a href="/signin">Sign In</a>
    <br><br>
    To see all users click here
    <a href="/showusers">Users</a>
    
</body>
</html>