<Html>  
	<head>   
	<title>  
	Registration Page  
	</title>  
	<h1>Registration Page</h1>
	</head>  
	<body bgcolor="Lightskyblue">  
	<br>  
	<br>  
	<form method="post">  
	<br> <br>
	<label> Name </label>         
	<input type="text" name="name" size="15"/> <br> <br>  
	  
	<label> Email Address</label>  
	<input type="email" name="email"/> <br>    
	<br> <br>  
	<label> Password </label>  
	<input type="Password" name="password"> <br>   
	<br> <br> 
	<input type="button" value="Submit"/> 
	</form>  
	</body>  
	</html>  