<Html>  
	<head>   
	<title>  
	Registration Page  
	</title>  
	<h1>Registration Page</h1>
	</head>  
	<body bgcolor="grey">  
	<br>  
	<br>  
	<form action="/signupmethod" method="post">
	<br> <br>
	<label> Name </label> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;    
	<input type="text" name="name"/> <br>  
	<br> <br>
	<label> Email Address</label>  &nbsp;  
	<input type="email" name="email"/> <br>    
	<br> <br>  
	<label> Password </label>  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; 
	<input type="Password" name="password"> <br>   
	<br> <br> 
	<input type="Submit" value="Submit"/> 
	</form>  
	</body>  
	</html>  