
<Html>  
	<head>   
	<title>  
	Log In Page  
	</title>  
	<h1>Log In Page</h1>
	</head>  
	<body bgcolor="Lightskyblue">  
	<br>  
	<br>  
	<form action="/signinmethod" method="post"> 
	  
	 
	<label> Email Address </label>  &nbsp; &nbsp;
	<input type="email" name="email"/> <br>    
	<br> <br>  
	<label> Password </label>  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
	<input type="Password" name="password"> <br>   
	<br> <br>  
	<br> <br> 
	&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<input type="Submit" value="Submit"/>
	</form>  
	
	</body>  
	</html>  
